$colorinicio: #0cc3fa;
$colorfinal: #00fdad;
$margintopsecciones: 180px;
$marginbottomsecciones: 40px;

@mixin reseteo {
  padding-top: 0;
  margin: 0;
  font-family: "lato", sans-serif;
  background-image: linear-gradient(to left, $colorinicio 0%, $colorfinal 90%);
  scroll-padding-top: 220px;
}

html,
body {
  @include reseteo();
}

p {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.header {
  background-image: linear-gradient(to left, $colorinicio 0%, $colorfinal 90%);
  padding: 0;
  margin: 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.logo {
  max-width: 236px;
  align-self: flex-start;
}

.superior {
  display: flex;
  align-items: center;
}

.h1 {
  flex: 1;
  text-align: center;

  h1 {
    font-weight: 900;
    font-family: "caveat", sans-serif;
    font-size: 40px;
  }
}

.nav {
  position: relative;
  display: flex;
  background-color: #07dcd9;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid black;
  border-top: 1px solid black;

  > div {
    flex: 1;
    display: flex;
    justify-content: center;
    height: 30px;
  }
}

.buscador2 {
  display: none;
  position: absolute;
}

.activo {
  background-color: #03efbf;
}

.buscador {
  position: absolute;
  right: 0;
  top: 0;
}

.menu {
  display: flex;
  column-gap: 20px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.ajustezslide {
  z-index: 0;
}

.carousel {
  .carousel-item {
    height: 600px;
  }
}

.carousel-item {
  img {
    object-fit: cover;
    top: 0;
    left: 0;
    height: 600px;
  }
}

.intro {
  margin-top: $margintopsecciones;
  margin-bottom: 50px;
  text-align: center;

  h2 {
    color: black;
    font-weight: 700;
  }
}

.indexmain {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  text-align: center;
  margin-bottom: $marginbottomsecciones;
}

.imagendestinos {
  margin-bottom: 20px;
  width: 90%;
}

.imagenconsejos {
  margin-bottom: 20px;
  width: 90%;
}

.destinos {
  p {
    margin-bottom: 10px;
    min-height: 110px;
  }
}

.consejos {
  p {
    margin-bottom: 10px;
    min-height: 110px;
  }
}

footer {
  display: flex;
  font-family: "roboto", sans-serif;
  align-items: flex-end;
  border-top: 1px solid black;
  background-image: linear-gradient(to left, $colorinicio 0%, $colorfinal 90%);

  small {
    flex: 1;
  }
}

.redes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 64px;
  align-items: center;
  font-family: "caveat", sans-serif;
  grid-template-areas: "q q w e r";

  a {
    height: 64px;
  }
}

.circle {
  border-radius: 50%;
}

.footergrid1 {
  grid-area: q;
  font-size: 30px;
}

.footergrid2 {
  grid-area: w;
}

.footergrid3 {
  grid-area: e;
}

.footergrid4 {
  grid-area: r;
}

.destinosmain {
  margin-top: 190px;

  h2 {
    text-align: center;
  }
}

.formulariocontacto {
  background-image: linear-gradient(to left, $colorinicio 0%, $colorfinal 90%);
  background-color: $colorfinal;
  margin-bottom: 100px;
  margin-top: 50px;
}

.nav2 {
  display: flex;
  justify-content: center;

  ul {
    display: flex;
    flex: 1;
    justify-content: center;
    height: 22px;
    column-gap: 20px;
    background-color: #03efbf;
    border-bottom: 1px solid black;
  }
}

.contactomain {
  margin-top: $margintopsecciones;
  text-align: center;

  .formulariodecontacto {
    margin-top: 50px;
  }

  .banner {
    margin-top: 30px;
    max-width: 100%;
  }

  ol {
    margin: auto;
    list-style: none;
    margin-bottom: 25px;
  }
}

.contactoancho {
  width: 280px;
}

.nosotrosmain {
  margin-top: $margintopsecciones;
  text-align: center;
  margin-bottom: $marginbottomsecciones;
}

.consejosmain {
  margin-top: $margintopsecciones;
  text-align: center;
  margin-bottom: $marginbottomsecciones;
}

.consejosimagen {
  width: 90%;
}

.botondestinosboot {
  &:hover {
    animation: sacudir 0.82s;
  }
}

.text-secondary {
  color: #3d5d6f;
}

.h4 {
  font-size: 1.2rem;
  color: #333;
}

.fa,
.fas {
  font-family: "FontAwesome";
  font-weight: 400;
  font-size: 1.2rem;
  font-style: normal;
}

.right-0 {
  right: 0;
}

.top-0 {
  top: 0;
}

.h-100 {
  height: 100%;
}

a.text-secondary {
  &:focus {
    text-decoration: none;
    color: #22343e;
  }

  &:hover {
    text-decoration: none;
    color: #22343e;
  }
}

#accordion {
  .fa-plus {
    transition: -webkit-transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
  }

  a[aria-expanded="true"] {
    .fa-plus {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }

  .card {
    background-color: transparent;
  }
}

.imagenfillresponsive {
  display: none;
}

@media (max-width: 767px) {
  .imagenfillresponsive {
    display: flex;
  }

  .imagenremoved {
    display: none;
  }

  .responsive {
    max-width: 767px;
  }
}

@media (max-width: 734px) {
  html {
    scroll-padding-top: 178px;
  }

  .destinos {
    p {
      margin-bottom: 10px;
      min-height: 150px;
    }
  }

  .consejos {
    p {
      margin-bottom: 10px;
      min-height: 150px;
    }
  }

  .redes {
    grid-template-rows: 48px;

    img {
      max-width: 48px;
    }

    a {
      height: 48px;
    }
  }

  .footergrid1 {
    font-size: 20px;
    text-align: center;
  }

  .menu {
    column-gap: 10px;
    font-size: 14px;
  }

  .nav {
    flex-wrap: wrap;
    padding-left: 10px;
  }

  .buscador {
    padding-left: 10px;

    input {
      max-width: 120px;
    }
  }

  .nav2 {
    ul {
      column-gap: 10px;
      font-size: 14px;
    }
  }

  .responsive {
    width: 100%;
    max-width: 734px;
    margin: auto;
  }

  .indexmain {
    margin-bottom: $marginbottomsecciones;
  }

  .intro {
    margin-top: 125px;
    margin-bottom: $marginbottomsecciones;
  }

  .destinosmain {
    margin-top: 125px;
    margin-bottom: $marginbottomsecciones;
  }

  .consejosmain {
    margin-top: 125px;
    margin-bottom: $marginbottomsecciones;
  }

  .contactomain {
    margin-top: 125px;
  }

  .nosotrosmain {
    margin-top: 125px;
    margin-bottom: $marginbottomsecciones;
  }

  .logo {
    max-width: 150px;
  }

  .h1 {
    h1 {
      font-size: 20px;
    }
  }
}

@media (max-width: 548px) {
  .destinos {
    p {
      min-height: 170px;
    }
  }

  .consejos {
    p {
      min-height: 170px;
    }
  }

  .buscador {
    max-width: 100px;
  }

  .menu {
    column-gap: 8px;
    font-size: 13px;
    flex-wrap: wrap;
  }

  .nav {
    padding-left: 8px;
  }

  .responsive {
    max-width: 548px;
  }
}

@media (max-width: 480px) {
  html {
    scroll-padding-top: 185px;
  }

  .destinos {
    p {
      min-height: 209px;
    }
  }

  .consejos {
    p {
      min-height: 209px;
    }
  }

  .buscador {
    display: none;
  }

  .buscador2 {
    display: flex;
    position: static;
  }

  .nav2 {
    display: flex;
    height: auto;

    ul {
      height: auto;
      flex-wrap: wrap;
      column-gap: 10px;
      padding: 0px 0px;
      font-size: 14px;
    }
  }

  .responsive {
    max-width: 480px;
  }

  .intro {
    margin-top: 135px;
  }

  .destinosmain {
    margin-top: 145px;
  }

  .consejosmain {
    margin-top: 135px;
  }

  .contactomain {
    margin-top: 135px;
  }

  .nosotrosmain {
    margin-top: 135px;
  }

  .logo {
    max-width: 150px;
  }

  .h1 {
    h1 {
      font-size: 20px;
    }
  }
}

@media (max-width: 348px) {
  .buscador2 {
    padding-left: 10px;
  }

  .destinos {
    p {
      min-height: 239px;
    }
  }

  .consejos {
    p {
      min-height: 239px;
    }
  }

  .responsive {
    max-width: 348px;
  }
}

@keyframes sacudir {
  10%,
  90% {
    transform: translate(-1px, 0);
  }

  20%,
  80% {
    transform: translate(2px, 0);
  }

  30%,
  50%,
  70% {
    transform: translate(-4px, 0);
  }

  40%,
  60% {
    transform: translate(4px, 0);
  }
}