html {
  padding-top: 0;
  margin: 0;
  font-family: "lato", sans-serif;
  background-image: linear-gradient(to left, #0CC3FA 0%, #00FDAD 90%);
  scroll-padding-top: 220px; }

body {
  padding-top: 0;
  margin: 0;
  font-family: "lato", sans-serif;
  background-image: linear-gradient(to left, #0CC3FA 0%, #00FDAD 90%);
  scroll-padding-top: 220px; }

p {
  margin: 0; }

* {
  box-sizing: border-box; }

.header {
  background-image: linear-gradient(to left, #0CC3FA 0%, #00FDAD 90%);
  padding: 0;
  margin: 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1; }

.logo {
  max-width: 236px;
  align-self: flex-start; }

.superior {
  display: flex;
  align-items: center; }

.h1 {
  flex: 1;
  text-align: center; }
  .h1 h1 {
    font-weight: 900;
    font-family: "caveat", sans-serif;
    font-size: 40px; }

.nav {
  position: relative;
  display: flex;
  background-color: #07DCD9;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid black;
  border-top: 1px solid black; }
  .nav > div {
    flex: 1;
    display: flex;
    justify-content: center;
    height: 30px; }

.buscador2 {
  display: none;
  position: absolute; }

.activo {
  background-color: #03EFBF; }

.buscador {
  position: absolute;
  right: 0;
  top: 0; }

.menu {
  display: flex;
  column-gap: 20px; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.ajustezslide {
  z-index: 0; }

.carousel .carousel-item {
  height: 600px; }

.carousel-item img {
  object-fit: cover;
  top: 0;
  left: 0;
  height: 600px; }

.intro {
  margin-top: 180px;
  margin-bottom: 50px;
  text-align: center; }
  .intro h2 {
    color: black;
    font-weight: 700; }

.indexmain {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  text-align: center;
  margin-bottom: 40px; }

.imagendestinos {
  margin-bottom: 20px;
  width: 64%; }

.imagenranking {
  margin-bottom: 20px;
  width: 64%; }

.destinos p {
  margin-bottom: 10px;
  min-height: 110px; }

.ranking p {
  margin-bottom: 10px;
  min-height: 110px; }

footer {
  display: flex;
  font-family: "roboto", sans-serif;
  align-items: flex-end;
  border-top: 1px solid black;
  background-image: linear-gradient(to left, #0CC3FA 0%, #00FDAD 90%); }
  footer small {
    flex: 1; }

.redes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 64px;
  align-items: center;
  font-family: "caveat", sans-serif;
  grid-template-areas: 'q q w e r'; }
  .redes a {
    height: 64px; }

.circle {
  border-radius: 50%; }

.footergrid1 {
  grid-area: q;
  font-size: 30px; }

.footergrid2 {
  grid-area: w; }

.footergrid3 {
  grid-area: e; }

.footergrid4 {
  grid-area: r; }

.destinosmain {
  margin-top: 190px; }
  .destinosmain h2 {
    text-align: center; }

.formulariocontacto {
  background-image: linear-gradient(to left, #0CC3FA 0%, #00FDAD 90%);
  background-color: #00FDAD;
  margin-bottom: 100px;
  margin-top: 50px; }

.nav2 {
  display: flex;
  justify-content: center; }
  .nav2 ul {
    display: flex;
    flex: 1;
    justify-content: center;
    height: 22px;
    column-gap: 20px;
    background-color: #03EFBF;
    border-bottom: 1px solid black; }

.contactomain {
  margin-top: 180px;
  text-align: center; }
  .contactomain ol {
    margin: auto;
    list-style: none;
    margin-bottom: 25px; }

.contactomainnombre {
  width: 243px; }

.contactomainmail {
  width: 243px; }

.nosotrosmain {
  margin-top: 180px;
  text-align: center;
  margin-bottom: 40px; }

.rankingmain {
  margin-top: 180px;
  text-align: center;
  margin-bottom: 40px; }

.rankingimagen {
  width: 38%; }

.botonranking:hover {
  animation: sacudir 0.82s; }

.botondestinos:hover {
  animation: sacudir 0.82s; }

.botondestinosboot:hover {
  animation: sacudir 0.82s; }

@media (max-width: 734px) {
  html {
    scroll-padding-top: 178px; }
  .destinos p {
    margin-bottom: 10px;
    min-height: 130px; }
  .ranking p {
    margin-bottom: 10px;
    min-height: 130px; }
  .redes {
    grid-template-rows: 48px; }
    .redes img {
      max-width: 48px; }
    .redes a {
      height: 48px; }
  .footergrid1 {
    font-size: 20px;
    text-align: center; }
  .contactomainnombre {
    width: 233px; }
  .contactomainmail {
    width: 233px; }
  .menu {
    column-gap: 10px;
    font-size: 14px; }
  .nav {
    flex-wrap: wrap;
    padding-left: 10px; }
  .buscador {
    padding-left: 10px; }
    .buscador input {
      max-width: 120px; }
  .nav2 ul {
    column-gap: 10px;
    font-size: 14px; }
  .responsive {
    width: 100%;
    max-width: 734px;
    margin: auto; }
  .indexmain {
    margin-bottom: 40px; }
  .intro {
    margin-top: 125px;
    margin-bottom: 40px; }
  .destinosmain {
    margin-top: 125px;
    margin-bottom: 40px; }
  .rankingmain {
    margin-top: 125px;
    margin-bottom: 40px; }
  .contactomain {
    margin-top: 125px;
    margin-bottom: 40px; }
  .nosotrosmain {
    margin-top: 125px;
    margin-bottom: 40px; }
  .logo {
    max-width: 150px; }
  .h1 h1 {
    font-size: 20px; } }

@media (max-width: 540px) {
  .destinos p {
    margin-bottom: 10px;
    min-height: 170px; }
  .ranking p {
    margin-bottom: 10px;
    min-height: 170px; }
  .buscador {
    display: none; }
  .buscador2 {
    display: flex;
    position: static;
    padding-left: 5px; }
  .menu {
    column-gap: 8px;
    font-size: 13px;
    flex-wrap: wrap; }
  .nav {
    padding-left: 8px; } }

@media (max-width: 480px) {
  html {
    scroll-padding-top: 185px; }
  .destinos p {
    margin-bottom: 10px;
    min-height: 209px; }
  .ranking p {
    margin-bottom: 10px;
    min-height: 209px; }
  .nav2 {
    display: flex;
    height: auto; }
    .nav2 ul {
      height: auto;
      flex-wrap: wrap;
      column-gap: 10px;
      padding: 0px 0px;
      font-size: 14px; }
  .responsive {
    max-width: 480px; }
  .intro {
    margin-top: 135px; }
  .destinosmain {
    margin-top: 145px; }
  .rankingmain {
    margin-top: 135px; }
  .contactomain {
    margin-top: 135px; }
  .nosotrosmain {
    margin-top: 135px; }
  .logo {
    max-width: 150px; }
  .h1 h1 {
    font-size: 20px; } }

@media (max-width: 332px) {
  .menu {
    font-size: 13px; }
  .responsive {
    max-width: 332px; } }

@keyframes sacudir {
  10%, 90% {
    transform: translate(-1px, 0); }
  20%, 80% {
    transform: translate(2px, 0); }
  30%, 50%, 70% {
    transform: translate(-4px, 0); }
  40%, 60% {
    transform: translate(4px, 0); } }

/*# sourceMappingURL=styles.css.map */